.container {
  position: fixed;
  inset: 0;
  background: url(/images/404-mobile.webp) no-repeat top / cover fixed;
  color: #fafafa;
  min-width: 20rem;
}

.container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #fafafa;
  font-family: 'Bebas Neue', cursive;
  font-size: clamp(2.5rem, 10vw, 8rem);
  letter-spacing: 0.5rem;
  margin: 0;
  line-height: 1;
}

.para {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  font-weight: 200;
}

.link {
  color: #2c2c2c;
  text-decoration: none;
  position: relative;
  padding: 0 0.5rem;
}

.link::before,
.link::after {
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: -1;
}

.link::before {
  width: 100%;
  background-color: #a8a8a8;
}

.link::after {
  width: 0;
  background-color: #fff;
  transition: width 0.2s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container {
    background: url(/images/404-desktop.webp) no-repeat center / cover fixed;
  }
}
