*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 1rem;
  background-color: rgb(37, 37, 49);
  color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.card {
  background-color: rgb(85, 85, 126);
  border-radius: 0.5rem;
  padding: 1.5em;
  max-width: 25rem;
  margin-top: 1rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn {
  appearance: none;
  border: 2px solid rgb(255, 93, 187);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: rgb(255, 93, 187);
  color: #fafafa;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: block;
}

.btn:hover {
  background-color: #fafafa;
  color: rgb(255, 93, 187);
  cursor: pointer;
}

.btn--alt {
  border: 2px solid rgb(255, 93, 187);
  color: rgb(255, 93, 187);
  background-color: #fafafa;
}

.btn--alt:hover {
  background-color: rgb(255, 93, 187);
  color: #fafafa;
}

.modal {
  width: 100%;
  max-width: 30rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  color: #333;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 10;
}

.modal > p {
  font-size: 1.25rem;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(143, 143, 143, 0.3);
}
