@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');
@import url('bootstrap-icons/font/bootstrap-icons.min.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found__title > i {
  margin-right: 1rem;
}
